<div class="top-bar">
  <ul class="top-bar-title menu">
    <li class="name">
      <h1><a href="https://github.com/Swiip/generator-gulp-angular">{{vm.appname}}</a></h1>
    </li>
  </ul>

  <section class="top-bar-right">
    <ul class="menu">
      <!--<li class="acme-navbar-text">
        Application was created {{ vm.relativeDate }}.
      </li>-->
      <li ng-repeat="elem in vm.listOption" ng-class="{'active':elem.key == vm.activeNav}"><a ng-href="{{elem.url}}"> {{elem.title}}</a>

      </li>
    </ul>
  </section>
</div>
